<div class="main-content">
    <div class="main-header-content">
        <div class="addressbook-detail-text">
            Person Details
            <span class="contact-count">{{PersonCount}}</span> 
        </div>
        <!-- <input type="search" matInput placeholder="Search"> -->
        <a routerLink="/address" routerLinkActive="router-link-active" class="add-button">
            <img src="../../../assets/add-24px.svg" alt="">Add Person
        </a>
    </div>
</div>
<div class="main-content">
    <div class="table-main">
        <table id="table-display" class="table">
            
            <tr>
                <!-- <th></th> -->
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let person of addressbook;">
                <!-- <td>{{person.contactId}}</td> -->
                <td>{{person.fullName}}</td>
                <td>{{person.email}}</td>
                <td>
                    {{person.address}}
                </td>
                <td>{{person.city}}</td>
                <td>{{person.state}}</td>
                <td>{{person.zip}}</td>
                <td>{{person.phone}}</td>
                <td>
                    <img  src="../../../assets/delete.svg" alt="delete" >
                    <img  src="../../../assets/edit.svg" alt="update">
                </td>
            </tr>
            
        </table>
    </div>
</div>