<div class="main-content">
    <div class="main-header-content">
        <div class="addressbook-detail-text">
            Person Details
            <span class="contact-count">12</span> 
        </div>
        <!-- <input type="search" matInput placeholder="Search"> -->
        <a routerLink="/address" routerLinkActive="router-link-active" class="add-button">
            <img src="../../../assets/add-24px.svg" alt="">Add Person
        </a>
    </div>
</div>
<div class="main-content">
    <div class="table-main">
        <table id="table-display" class="table">
            
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Aa</td>
                <td>Aa@gmail</td>
                <td>
                   Bbb
                </td>
                <td>Cc</td>
                <td>Ddd</td>
                <td>123</td>
                <td>1234</td>
                <td>
                    <img  src="../../../assets/delete.svg" alt="delete" >
                    <img  src="../../../assets/edit.svg" alt="update">
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Aa</td>
                <td>Aa@gmail</td>
                <td>
                   Bbb
                </td>
                <td>Cc</td>
                <td>Ddd</td>
                <td>123</td>
                <td>1234</td>
                <td>
                    <img  src="../../../assets/delete.svg" alt="delete" >
                    <img  src="../../../assets/edit.svg" alt="update">
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Aa</td>
                <td>Aa@gmail</td>
                <td>
                   Bbb
                </td>
                <td>Cc</td>
                <td>Ddd</td>
                <td>123</td>
                <td>1234</td>
                <td>
                    <img  src="../../../assets/delete.svg" alt="delete" >
                    <img  src="../../../assets/edit.svg" alt="update">
                </td>
            </tr>
        </table>
    </div>
</div>